@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Hind Madurai', sans-serif;
}

/* nav style start here  */

.nav-section {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 24px 50px;
  background-color: white;
  height: 30px;
}
.left-side {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 120%;
}
.nav-tittle {
  /* font-weight: 800;
  font-size: 50px; */
  color: #006747;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.right-side img {
  height: 20px;
}

/* hero section style start here  */

.hero {
  background: linear-gradient(to right, #013223, #006747, #013223);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 35px;
  height: 60px;
}
.hero img {
  max-height: 70%;
}
.hero p {
font-size: 10px;
font-weight: 600;
}
